sm_retakes_enabled 1
sm_retakes_maxplayers "{{ env.maxplayers }}"
sm_retakes_scramble_rounds "{{ env.sm_retakes_scramble_rounds }}"
sm_retakes_round_time "{{ env.sm_retakes_round_time }}"
sm_retakes_random_teams "{{ env.sm_retakes_random_teams }}"
