dm_enabled 1
dm_headshot_only "{{ dm_headshot_only }}"
dm_ap_messages "{{ dm_ap_messages }}"
dm_hp_messages "{{ dm_hp_messages }}"
dm_welcomemsg "{{ dm_welcomemsg }}"
dm_valve_deathmatch "{{ dm_valve_deathmatch }}"
dm_free_for_all "{{ dm_free_for_all }}"
dm_hide_radar "{{ dm_hide_radar }}"
dm_display_panel "{{ dm_display_panel }}"
dm_display_panel_damage "{{ dm_display_panel_damage }}"
dm_sounds_bodyshots "{{ dm_sounds_bodyshots }}"
dm_sounds_headshots "{{ dm_sounds_headshots }}"
dm_remove_objectives "{{ dm_remove_objectives }}"
dm_respawning "{{ dm_respawning }}"
dm_respawn_time "{{ dm_respawn_time }}".1
dm_gun_menu_mode "{{ dm_gun_menu_mode }}"
dm_los_spawning "{{ dm_los_spawning }}"
dm_los_attempts "{{ dm_los_attempts }}"
dm_spawn_distance "{{ dm_spawn_distance }}"
dm_spawn_protection_time "{{ dm_spawn_protection_time }}"
dm_loadout_style "{{ dm_loadout_style }}"
dm_fast_equip "{{ dm_fast_equip }}"
dm_no_knife_damage "{{ dm_no_knife_damage }}"
dm_remove_weapons "{{ dm_remove_weapons }}"
dm_replenish_ammo_empty "{{ dm_replenish_ammo_empty }}"
dm_replenish_ammo_reload "{{ dm_replenish_ammo_reload }}"
dm_replenish_ammo_kill "{{ dm_replenish_ammo_kill }}"
dm_replenish_ammo_type "{{ dm_replenish_ammo_type }}"
dm_replenish_grenade "{{ dm_replenish_grenade }}"
dm_replenish_hegrenade "{{ dm_replenish_hegrenade }}"
dm_replenish_grenade_kill "{{ dm_replenish_grenade_kill }}"
dm_hp_kill "{{ dm_hp_kill }}"
dm_hp_headshot "{{ dm_hp_headshot }}"
dm_ap_kill "{{ dm_ap_kill }}"
dm_ap_headshot "{{ dm_ap_headshot }}"
dm_armor_full "{{ dm_armor_full }}"
dm_armor "{{ dm_armor }}"
